<br>
<h1>Dashboard</h1>
<br>
<h4>Total count in Database</h2>
<table class="table table-bordered">
<thead>
  <tr>
    <th>Products</th>
    <th>Categories</th>
  </tr>
</thead>
<tbody>
<td><%= @product_count %></td>
<td><%= @category_count %></td>
</tbody>
</table>